@import 'src/style/variables';

.wrapper {
  width: 100%;
  padding: 0 $spacing;
  max-height: 78vh;
  overflow-y: scroll;

  .list {
    width: 100%;
    display: flex;
    flex-direction: column;
    grid-gap: $spacing;
  }
}
